/* latin */
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold")
    url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap)
    format("woff2");
}
html {
  text-indent: 20px;
}
