hmtl {
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold") url(https://fonts.googleapis.com);
}
@font-face {
  font-family: "Raleway";
  src: url(https://fonts.googleapis.com);
}

:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #fff;
}
body {
  color: var(--SLATE);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
